#!/usr/bin/env tclsh
##############################################################################
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the Licence, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# Product name : UnrealIRCD Service Framework
# Copyright (C) 2012 Damien Lesgourgues
# Author(s): Damien Lesgourgues
#
##############################################################################
# packages needed
package require msgcat

# Debug ... or not ?
set debug 1

# Chargement des fichiers de langue
foreach file [glob -directory lang/ *.msg] {
  if {$::debug==1} { puts "Loading $file" }
  source $file
}

namespace eval irc {
  # System configuration
  variable lang   "fr"
  variable pid    "framework.pid"

  # Service configuration
  variable ip         xxx.xxx.xxx.xxx
  variable port       7000
  variable password   "LinkPassword"
  variable numeric    142
  variable servername "tclsvc.domain.tld"
  variable netname    "Network Name"
  variable hub        "hub.domain.tld"
  variable svcname    "TCL Framework"
  variable uversion   "2310"

  # Master Bot Controller
  variable nick       "FrameWork"
  variable username   "tclsh"
  variable hostname   $servername
  variable realname   "UnrealIRCD Service Framework Controller"
  variable adminchan  "#Services"
  variable chanlist   "#opers #logs"
  variable root       "Root"
  variable cmdchar    "."

  # Modules to load
  variable modules    ""

  # Internal variables
  variable version    "0.1"
  variable wait
  variable sock
  variable hook

  # Variables for network
  variable srvname2num
  set srvname2num($numeric) $servername
  set srvname2num($servername) $numeric
  variable mychans
  variable botlist
  variable userlist
  variable chanlist
  variable users
  variable regusers
  # List of existing hooks
  variable hooklist   "sync init join join-#* part part-#* quit kill privmsgchan privmsg-*"
}

namespace eval pl {
  # Partyline Configuration
  variable ip         0.0.0.0
  variable port       46000
  variable pass       "password"
}

# Setting default lang
proc ::irc::set_lang {lang} { if {$lang != ""} { ::msgcat::mclocale $lang } }
::irc::set_lang $::irc::lang

# Logging message
puts [::msgcat::mc loadmodule "Configuration"]

# vim: set fenc=utf-8 sw=2 sts=2 ts=2 et filetype=tcl
